<center>
<h1>Sign Up</h1>
<p>please fill in the following form</p>
<!-- Méthode de formulaire HTML
<form action="/create" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
  <p>Username :</p>
  <input type="string" name="username">
  <p>Email :</p>
  <input type="string" name="email">
  <p>Your bio :</p>
  <textarea name="bio" rows="4" cols="90"></textarea></br>
  <input type="submit" value="submit">
</form>
-->

<!-- Méthode de formulaire form_tag
<%= form_tag url_for(action: 'create'), method: "post" do %>
     <%= label_tag 'Username' %><br />
     <%= text_field_tag 'username'%>
     <br /> <br />
     <%= label_tag 'Email' %><br />
     <%= text_field_tag 'email'%>
     <br /> <br />
     <%= label_tag 'Bio' %><br />
     <%= text_area_tag 'bio'%>
     <br /> <br />
     <%= submit_tag "Sign in" %>
<% end %>
-->

<!-- Méthode formulaire form_for-->
<%= form_for @user, url: {action: 'create'} do |f| %>
<p>Username:</p>
  <%= f.text_field :username %>
<p>Email: </p>
  <%= f.text_field :email %>
<p>Bio:</p>
  <%= f.text_area :bio, size: "60x12" %>
</br>
  <%= f.submit "Create" %>
<% end %>
</center>
